.clicker {
    cursor: pointer;
}
.sub_element {
    margin-left: 20px;
}
.function_wrapper {
    width: 33%;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}
#id_torrent_search_text {
    width: 300px;
}
.list-group-item {
    cursor: pointer;
}
.list-group {
    cursor: pointer;
}
.loader {
    margin-top: 20px;
}
.progress {
  position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}