.clicker {
    cursor: pointer;
}
.sub_element {
    margin-left: 20px;
}
.function_wrapper {
    width: 33%;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}
#id_torrent_search_text {
    width: 300px;
}
.list-group-item {
    cursor: pointer;
}
.list-group {
    cursor: pointer;
}
.loader {
    margin-top: 20px;
}
.progress {
  position: relative;
}
.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}
.torrent-container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
    background-color: #D0D0D0;
}
