{% load dajaxice_templatetags %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>{{page_title}}</title>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <script src="/static/js/jquery-2.0.3.min.js" type="text/javascript"> </script>
    <script src="/static/js/jquery.ba-serializeobject.min.js" type="text/javascript"> </script>
    <script src="/static/js/jquery.tinysort.js" type="text/javascript"> </script>
    <script src="/static/js/site.js" type="text/javascript"></script>
    {% dajaxice_js_import %}
</head>

<body>

<div class="function_wrapper" id="current_media_wrapper">

<h1>{{ media_header_title }}</h1>

<div>
    <a class="clicker">movies</a>
</div>
<div class="toggler sub_element" id="movie_container">
{% for movie in movie_list %}
    <div id="movie-{{ forloop.counter }}">{{ movie }}</div>
{% endfor %}
</div>

<div>
    <a class="clicker">tv shows</a>
</div>
<div class="toggler" id="show_container">
{% for show, data in show_list.items %}
    <div class="sub_element" id="show-{{ forloop.counter }}">
        <a class="clicker">{{ show }}</a>
    </div>
    <div class="toggler sub_element" id="season_container">
        {% for season, data in data.seasons.items %}
            <div class="sub_element" id="show-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                <a class="clicker">{{ season }}</a>
            </div>

            <div class="toggler sub_element" id="episode_container">
                {% for episode, data in data.items %}
                    <div class="sub_element">{{ episode }} - {{ data.title }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endfor %}
</div>

<div>
    <form action="" method="POST" id="search_form" accept-charset="utf-8">{% csrf_token %}
        <table>
            {{ search_form }}
        </table>
        <p><input value="Search" id="search_media" onclick="Dajaxice.media.search_media(search_callback, $('#search_form').serializeObject() );" type="button" /></p>
    </form>
    <div id="data_loader">

    </div>
</div>

</div>

<div class="function_wrapper" id="torrent_search_wrapper">
    <h1>{{ torrent_header_title }}</h1>
    <div>
        <form action="" method="POST" id="torrent_form" accept-charset="utf-8">{% csrf_token %}
            <table>
                {{ torrent_form }}
            </table>
            <p><input value="Search" id="search_torrent" onclick="Dajaxice.media.search_torrent(torrent_callback, $('#torrent_form').serializeObject() );" type="button" /></p>
            <p><i>ex. World War Z (720p / 1080p)</i></p>
            <p><i>ex. Breaking Bad s01e02 720p</i></p>
        </form>
        <div id="torrent_loader">

        </div>
    </div>
</div>

<div class="function_wrapper" id="finished_files_wrapper">
    <h1>{{ files_header_title }}</h1>
    <div>
        <a id="files_reloader" href="#" onclick="Dajaxice.media.refresh_files(files_callback)">Refresh File Listing...</a>
        <div id="files_loader">

        </div>
    </div>
</div>

</body>
</html>