{% load dajaxice_templatetags %}
{% load crispy_forms_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>{{page_title}}</title>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <script src="/static/js/jquery-2.0.3.min.js" type="text/javascript"> </script>
    <script src="/static/js/jquery.ba-serializeobject.min.js" type="text/javascript"> </script>
    <script src="/static/js/jquery.tinysort.js" type="text/javascript"> </script>
    <script src="/static/js/site.js" type="text/javascript"></script>
    <link type='text/css' href='/static/css/bootstrap.css' rel='stylesheet'>
    <link type='text/css' href='/static/css/bootstrap-theme.css' rel='stylesheet'>
    <!-- INCLUDE SITE JAVASCRIPT -->
    {% block javascript %}

    {% endblock %}
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript">
        function purge_downloads() {
            Dajaxice.media.purge_downloads(purge_downloads_callback);
        }
        function load_media() {
            $('#load_media').empty();
            $('#load_media').append("Loading...");
            Dajaxice.media.load_media(load_media_callback);
        }
        $(document).ready(function() {
            load_media();
        });

        function search_media() {
            $('#data_loader').empty();
            $('#data_loader').append("Loading...");
            Dajaxice.media.search_media(search_callback, $('#search_form').serializeObject() );
        }
        function search_torrents() {
            $('#torrent_loader').empty();
            $('#id_torrent_search_text').addClass('input-loading');
            Dajaxice.media.search_torrent(torrent_callback, $('#torrent_form').serializeObject() );
        }
        function files_information() {
            if ($('#files_reloader').html() === 'Show Torrents') {
                $('#files_reloader').html('Hide Torrents');
            }
            else {
                $('#files_reloader').html('Show Torrents');
            }
            $('#files_loader').slideToggle();
        }
        function downloads_information() {
            if ($('#downloads_reloader').html() === 'Show Downloads') {
                $('#downloads_reloader').html('Hide Downloads');
            }
            else {
                $('#downloads_reloader').html('Show Downloads');
            }
            $('#downloads_loader').slideToggle();
        }
    </script>
    {% dajaxice_js_import %}
</head>

<body>

<div class="function_wrapper" id="current_media_wrapper">

<h1>{{ media_header_title }}</h1>

<!--<button class="btn btn-success" type="button" onclick="load_media(); return false">Load Current Media</button>-->
<div id="load_media" class="loader">

</div>


<div>
    {% crispy search_form %}
    <div id="data_loader" class="loader">

    </div>
</div>

</div>

<div class="function_wrapper" id="torrent_search_wrapper">
    <h1>{{ torrent_header_title }}</h1>
    <div>
        {%  crispy torrent_form %}
        <div id="torrent_loader" class="loader">

        </div>
    </div>
</div>

<div class="function_wrapper" id="finished_files_wrapper">
    <h1>{{ files_header_title }}</h1>
    <div>
        <button class="btn btn-success" type="button"  id="files_reloader" onclick="files_information(); return false;">Show Torrents</button>
        <button class="btn btn-success" type="button"  id="downloads_reloader" onclick="downloads_information(); return false;">Show Downloads</button>
        <div id="files_loader" style="display:none;" class="loader">
            <div id="torrents_active" class="loader panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title" style="float: left;">Active Torrents</h4>
                    <img id="torrents_active_panel_body-collapse-all" src="/static/img/minus-icon.png" style="cursor: pointer; float: right;" onclick="javascript: shrinkAll('torrents_active_panel_body'); return false;">
                    <div style="clear: both"></div>
                </div>
                <div id="torrents_active_panel_body" class="panel-body">

                </div>
            </div>
            <div id="torrents_stopped" class="loader panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title" style="float: left;">Finished Torrents</h4>
                    <img id="torrents_stopped_panel_body-collapse-all" src="/static/img/minus-icon.png" style="cursor: pointer; float: right;" onclick="javascript: shrinkAll('torrents_stopped_panel_body'); return false;">
                    <div style="clear: both"></div>
                </div>
                <div id="torrents_stopped_panel_body" class="panel-body">

                </div>
            </div>
        </div>
        <div id="downloads_loader" style="display:none;" class="loader">
            <div id="downloads_active" class="loader panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">Active Downloads</h4>
                </div>
                <div id="active_panel_body" class="panel-body">

                </div>
            </div>
            <div id="downloads_stopped" class="loader panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title" style="float: left;">Finished Downloads</h4>
                    <button id="purge-downloads" style="float: right;" class="btn btn-xs btn-danger" type="button" onclick="purge_downloads(); return false">Purge Finished</button>
                    <div style="clear: both;"></div>
                </div>
                <div id="stopped_panel_body" class="panel-body">

                </div>
            </div>
            <div id="downloads_waiting" class="loader panel panel-warning">
                <div class="panel-heading">
                    <h4 class="panel-title">Pending Downloads</h4>
                </div>
                <div id="waiting_panel_body" class="panel-body">

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>